# MongoDB Database Connection
MONGODB_URI=*********************************************

# JWT Auth Secret
JWT_SECRET=*******************************************

# GROQ API Key (Smart recommendations and dynamic mood curation)
GROQ_API_KEY=gsk_*******************************

# Server configuration
PORT=8000
HOST=0.0.0.0

# SMTP Configuration (For real OTP email dispatch using Google App Password)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=your-gmail-address@gmail.com
SENDER_PASSWORD=your-google-app-password-here
